<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.ataulm.wutson">

  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.INTERNET" />

  <application
    android:name="com.ataulm.wutson.WutsonApplication"
    android:allowBackup="true"
    android:icon="@drawable/ic_launcher"
    android:label="@string/app_name"
    android:theme="@style/Wutson.Theme">

    <meta-data
      android:name="android.app.default_searchable"
      android:value="com.ataulm.wutson.myshows.SearchableActivity" />

    <activity
      android:name="com.ataulm.wutson.myshows.MyShowsActivity"
      android:label="@string/my_shows_label"
      android:theme="@style/Wutson.Theme.MyShows"
      android:launchMode="singleTop">
    </activity>

    <activity android:name="com.ataulm.wutson.myshows.SearchableActivity">
      <intent-filter>
        <action android:name="android.intent.action.SEARCH" />
      </intent-filter>
      <meta-data
        android:name="android.app.searchable"
        android:resource="@xml/searchable" />
    </activity>

    <activity
      android:name="com.ataulm.wutson.discover.DiscoverActivity"
      android:label="@string/discover_label"
      android:theme="@style/Wutson.Theme.Discover"
      android:launchMode="singleTop" />

    <activity
      android:name=".showdetails.ShowDetailsActivity"
      android:parentActivityName="com.ataulm.wutson.discover.DiscoverActivity"
      android:theme="@style/Wutson.Theme.ShowDetails">
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />
        <data android:mimeType="vnd.android.cursor.item/vnd.com.ataulm.wutson.show" />
        <category android:name="android.intent.category.DEFAULT" />
      </intent-filter>
    </activity>

    <activity
      android:name="com.ataulm.wutson.seasons.SeasonsActivity"
      android:parentActivityName=".showdetails.ShowDetailsActivity"
      android:theme="@style/Wutson.Theme.Seasons">
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />
        <data android:mimeType="vnd.android.cursor.dir/vnd.com.ataulm.wutson.season" />
        <category android:name="android.intent.category.DEFAULT" />
      </intent-filter>
    </activity>

    <activity
      android:name=".episodes.EpisodesActivity"
      android:parentActivityName="com.ataulm.wutson.seasons.SeasonsActivity"
      android:theme="@style/Wutson.Theme.Episodes">
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />
        <data android:mimeType="vnd.android.cursor.dir/vnd.com.ataulm.wutson.episode" />
        <category android:name="android.intent.category.DEFAULT" />
      </intent-filter>
    </activity>

    <activity
      android:name="com.ataulm.wutson.settings.SettingsActivity"
      android:label="@string/settings_label"
      android:theme="@style/Wutson.Theme.Settings" />

    <activity android:name="com.ataulm.wutson.settings.SoftwareLicensesActivity" />

    <activity-alias
      android:name="activity.primary_launcher"
      android:label="@string/app_name"
      android:targetActivity="com.ataulm.wutson.myshows.MyShowsActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity-alias>

    <provider
      android:name=".repository.persistence.WutsonSQLiteContentProvider"
      android:authorities="${applicationId}"
      android:exported="false" />

  </application>

</manifest>
